<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You Have {{ cart.totalItemCount }} items in your Shopping Cart
    <button
      [disabled]="cart.items.length === 0"
      (click)="clearCart()"
      class="btn btn-light btn-small"
    >
      Clear Shoppin Cart
    </button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px;">Quantity</th>
        <th class="text-right" style="width: 200px;">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <ng-container>
          <td>
            <div
              *ngIf="item.product.imageUrl"
              [style.backgroundImage]="'url(' + item.product.imageUrl + ')'"
              class="thumbnail"
            ></div>
          </td>
          <td>{{ item.product.title }}</td>
          <td>
            <app-product-quantity
              [product]="item.product"
              [shopping-cart]="cart"
            ></app-product-quantity>
          </td>
          <td class="text-right">
            {{ item.totalPrice | currency: "USD":code }}
          </td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency: "USD":code }}</th>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/check-out" *ngIf="cart.items.length" class="btn btn-primary"
    >Check Out</a
  >
</div>
