<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          [(ngModel)]="product.title"
          #title="ngModel"
          name="title"
          required
          id="title"
          type="text"
          class="form-control"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div>title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
          </div>
          <input
            [min]="0"
            required
            [(ngModel)]="product.price"
            #price="ngModel"
            name="price"
            type="number"
            class="form-control"
            placeholder="price"
            id="price"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            price is required
          </div>
          <div *ngIf="price.errors.min">
            price is 0 or higher
          </div>
        </div>
      </div>
      <div class="form-group " *ngIf="categories$ | async; let categories">
        <label for="category">Category</label>
        <select
          #categoryField="ngModel"
          [(ngModel)]="product.category"
          required
          name="category"
          id="category"
          class="form-control"
        >
          <option value=""></option>
          <option *ngFor="let c of categories" [value]="c.key">{{
            c.payload.val().name
          }}</option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="categoryField.touched && categoryField.invalid"
        >
          category is required
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input
          [(ngModel)]="product.imageUrl"
          #imageUrl="ngModel"
          required
          name="imageUrl"
          id="imageUrl"
          type="text"
          class="form-control"
          url
        />
        <div
          class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid"
        >
          <div *ngIf="imageUrl.errors.required">
            imageUrl is required
          </div>
          <div *ngIf="imageUrl.errors.url">
            please enter a valid url
          </div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="!f.valid">save</button>
      <button class="btn btn-danger" type="button" (click)="delete()">
        save
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <app-product-card
      [product]="product"
      [show-actions]="false"
    ></app-product-card>
  </div>
</div>
